/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

/* Navbar */
.nav-details {
  background: #1c0a30;
  color: #ffffffb2;
  padding: 0.7rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li a {
  font-size: 15px;
}

.navbar h2 {
  padding: 0.2rem 0.5rem;
  font-size: 1.8rem;
  color: #fff;
}

.navbar h2 span {
  color: #ff6600;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.btn {
  background: #ff6600;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

/* Hero */
.hero {
  background: url('https://plus.unsplash.com/premium_photo-1682129819234-8ecdaf13439b?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
  color: #ffffff;
  text-align: center;
  padding: 6rem 2rem;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* Tracking Box */
.tracking-box {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.619);
  border-radius: 6px;
  padding: 0.5rem;
}

.tracking-box input {
  flex: 1;
  padding: 0.7rem;
  border: none;
  border-radius: 4px;
  margin-right: 0.5rem;
  font-size: 1rem;
}

/* Features Section */
.manage-shipment {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.7rem;
  color: rgb(68, 52, 129);
  font-family: 'arial', sans-serif;
}

.shipment-paragraph {
  margin: 1rem 2rem;
  text-align: center;
  font-family: 'Times New Roman';
  font-size: 0.9rem;
  color: #170d6e;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.shipment {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 4rem;
}

.shipment .shipment-card {
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 1rem 2rem;
  flex: 1 1 200px;

}

.shipment .shipment-card img {
  width: 80px;
  margin-bottom: 1rem;
  color: lightsteelblue;
}

.shipment .shipment-card h3 {
  margin-bottom: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #0d6883;
  font-size: 15px;
}

.shipment .shipment-card h3:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sign-up-container {
  background: #1c0a30;
  color: #fff;
  text-align: center;
  padding: 2rem;
  margin: 17px;
}

.sign-up-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1.8rem;
}


.sign-up-content .btn-sign-up {
  background: #ff6600;
  color: white;
  padding: 0.7rem 1.5rem;
  border: none;
  cursor: pointer;
}

.shipment-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem 1.1rem;
  align-items: center;
  text-align: center;
}

.shipment-image img {
  width: 100%;
  max-width: 548px;
}

.shipment-text {
  justify-content: center;
}

.shipment-text h2 {
  color: #4d4d4d;

  font-size: 26px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.shipment-text p {
  margin: 1rem 0;
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.shipment-text .btn-learn-more {
  color: #0d6883;
  padding: 1.2rem 2rem;
  border: 2px solid #0d6883;
  border-radius: 30px;
  background: transparent;
}

/* Footer */
.footer {
  background: #090808;
  color: #ddd;
  text-align: center;
  padding: 2rem;
}

.footer-links {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-links a {
  color: #ddd;
  margin: 0 0.5rem;
  text-decoration: none;
}